Jithin_Valiyil_Final/web/WEB-INF/wsdl/localhost_8080/Jithin_Valiyil_Final_SOAP/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://final_soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://final_soap/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://final_soap/" schemaLocation="http://localhost:8080/Jithin_Valiyil_Final_SOAP/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="getCustomers">
<input wsam:Action="http://final_soap/CustomerWebService/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://final_soap/CustomerWebService/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://final_soap/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://final_soap/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://final_soap/CustomerWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://final_soap/CustomerWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/Jithin_Valiyil_Final_SOAP/CustomerWebService"/>
</port>
</service>
</definitions>